
  {{#each Tweets}}
    {{#unless this.saved}}
    <div>

            <p>{{this.tweetAuthor}}</p>
            <p>{{this.tweetTime}}</p>
            <p>{{this.tweetText}}</p>


              <button class="btn btn-primary saveTweet" data-id="{{this.id}}">Save Tweet</button>


    </div>
    <br>
    {{/unless}}
  {{/each}}
